<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.uniz.admin.mapper.MemberMapper">
	<select id="getMemberList" resultType="com.uniz.admin.domain.Member">
	
		select u.*
		, ut.usertype usertype_s
		, s.codename state_s
		from 
		  userdata u 
		, usertype ut
		, statecode s
		where 
		u.usertype = ut.usertypesn
		and u.state = s.codeid
		and s.groupcodeid = 'A0001'
		

	</select>
		
	<select id="getMember" resultType="com.uniz.admin.domain.Member">
		SELECT *
		FROM USERDATA
		WHERE USERSN = #{userSN}
	</select>
	
	<select id="selectMember" resultType="Integer">
		SELECT COUNT(*) FROM 
		USERDATA 
		WHERE USERSN = #{userSN}
	</select>
	
	<update id="memberUpdate" >
		UPDATE USERDATA
		SET
		USERTYPE = #{userType},
		NICK = #{nick},
		IMGURL = #{imgUrl},
		STATE = #{state},
		UPDATEDATETIME = sysdate
		
		WHERE USERSN = #{userSN}
	</update>
	
	<select id="getUserUnizPoint" resultType="com.uniz.admin.domain.MyUnizPoint">
		SELECT up.*, u.UNIZKEYWORD
		FROM MYUNIZPOINTLIST up, UNIZ u
		WHERE
		u.UNIZSN = up.UNIZSN 
		AND
		USERSN = #{unizSN}
	</select>
	
	<insert id = "userStateLogInsert">
	INSERT INTO USERSTATELOG
	(USERSN, STATUSSN)
	VALUES
	(#{userSN}, #{state})

	</insert>
	
	<update id ="changeUserState">
	UPDATE 
	  USERDATA
	SET 
	  STATE = #{state},
	  LASTSTATEDATETIME = sysdate
	WHERE 
	  USERSN = #{userSN}   
</update>

<select id="getCreatorMemberList" resultType="com.uniz.admin.domain.ApplyCreatorVO">
	select c.applysn , u.userid, u.nick,c.channeltitle ,c.category, c.email,status.codename statusName,c.createdatetime,c.updatedatetime ,utype.usertype
	from userData u, applycreator c, statecode status, usertype utype
	where u.usersn = c.usersn 
	and status.codeid = c.state
	and u.usertype = utype.usertypesn
	and status.groupcodeid = 'B0001'
	and c.state =1
</select>

<select id="getCreatorMember" resultType="com.uniz.admin.domain.ApplyCreatorVO">
	select c.applysn , u.usersn,u.userid, u.nick,c.channeltitle ,c.category, c.email,status.statusname,c.state,c.createdatetime,c.updatedatetime ,utype.usertype
	from userData u, applycreator c, statuscode status, usertype utype
	where u.usersn = c.usersn 
	and status.statussn = c.state
	and u.usertype = utype.usertypesn
	and applysn = #{applySN}

</select>

<update id="applyCreator">
	update applycreator
	set 
	state = #{state},
	updatedatetime = sysdate
	where usersn = #{userSN}
</update>

<update id="changeUserType">
	update userdata
	set 
	usertype = #{userType},
	updatedatetime = sysdate
	where usersn = #{userSN}
</update>

<select id="getUserPassword" resultType="String">
	select password
	from userdata
	where userid = #{userID}
</select>

<select id="userLogin" resultType="Integer">
	SELECT COUNT(*) 
	FROM USERDATA WHERE USERID = #{userID} 
	AND PASSWORD = #{password}
	AND USERTYPE = 99
</select>

<select id="getUser" resultType="com.uniz.admin.domain.Member">
	SELECT * 
	FROM USERDATA 
	WHERE USERID = #{userID}
</select>

<update id="updateUserLogin">
	UPDATE 
	  USERDATA
	SET
	  LASTSTATEDATETIME = sysdate
	WHERE 
	  USERSN = #{userSN}
</update>
	
</mapper>